<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io("http://localhost:3000");
  socket.emit('join', '<%- room %>');
  socket.on('send-client', function (msg) {
    document.getElementById('chat').innerHTML += msg;
  });
  var send = function(){
    var msg = document.getElementById('msg');
    socket.emit('send-server', msg.value);
  };
</script>
<header>
  <h2>Ntalk - Chat</h2>
</header>
<section>
  <pre id="chat"></pre>
  <input type="text" id="msg" placeholder="Message">
  <input type="button" onclick="send();" value="Send">
</section>

<% include ../logout %>
<% include ../footer %>
