<% include header %>
<header>
<h1>Ntalk</h1>
<h4>Sorry, something horrible happened! Internal error! @()#U@(%!#$@)#</h4>
</header>
<hr>
<p>Do you want to back? <a href="/">home page?</a> :)</p>
<% include footer %>
