<% include ../header %>
<header>
  <h2>Ntalk - Edit contact</h2>
</header>
<section>
  <form action="/contact/<%- id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label>Name:</label>
    <input type="text" name="contact[name]" value="<%- contact.name %>">
    <label>E-mail:</label>
    <input type="text" name="contact[email]" value="<%- contact.email %>">
    <button type="submit"> Update</button>
  </form>
</section>
<% include ../logout %>
<% include ../footer %>
