<% include ../header %>
<header>
    <h2>Ntalk - Contact book</h2>
</header>
<section>
    <form action="/contact" method="post">
        <input type="text" name="contact[name]" placeholder="Name">
        <input type="text" name="contact[email]" placeholder="E-mail">
        <button type="submit"> Register</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thread>
      <tbody>
        <% contacts.forEach(function(contact, index) { %>
          <tr>
            <td><%- contact.name %></td>
            <td><%- contact.email %></td>
            <td>
              <span id="notify_<%- contact.email %>">Offline</span>
            </td>
            <td>
              <a href="/contact/<%- index %>">Detail</a>
              <a href="/chat" id="chat_<%- contact.email %>">Chat</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
</section>
<% include notify_script %>
<% include ../logout %>
<% include ../footer %>
