<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io("http://localhost:3000");
  var notify = function(data){
    var id = 'notify_'+data.email;
    // notify
    var notify = document.getElementById(id);
    if(notify){
      notify.textContent = data.msg;
    }
  };

  // event notify onlines
  socket.on('notify-onlines', function(email){
    notify({email: email, msg: 'Online'});
  });

  // event notify offline
  socket.on('notify-offline', function(email){
    notify({email: email, msg: 'Offline'});
  });

  // event new message
  socket.on('new-message', function(data) {
    notify({email: data.email, msg: 'Mensagem'});
    var id = 'chat_'+data.email;
    var chat = document.getElementById(id);
    chat.href += '?room='+data.room;
  });
</script>
