<% include ../header %>
<header>
  <h2>Ntalk - Contact </h2>
</header>
<section>
  <form action="/contact/<%- id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <p><label>Name: </label> <%- contact.name %></p>
    <p><label>E-mail: </label> <%- contact.email %></p>
    <p>
      <button type="submit">Delete</button>
      <a href="/contact/<%- id %>/edit">Edit</a>
    </p><%- id %>
  </form>
</section>
<% include ../logout %>
<% include ../footer %>
